.DS_Store
.classpath
.gradle/
gradle/
gradlew*

.idea
*.iml
local.properties

cs/packages/
cs/cg_cs.userprefs
ø
.project
.settings/
bin/
build/
obj/

*.aux
*.log
*.gz

java/src/main/java/computergraphics/projects/
java/src/test/
cs/cg_cs/src/projects/
android/app_pjenke/
